@import "normalize.css";

body {
  font-face: Helvetica, sans-serif;
  font-size: 0.8em;
  padding: 40px 10px;
  max-width: 800px;
  margin: 0px auto;
}

@media print {
  body {
    padding: 0 50px;
  }
  .spec-buttons {
    display: none
  }
}

.inline {
  display: inline-block;
}

h1, h2 {
  font-face: Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.8em;
  width: 100%;
  border: 0px solid #aaa;
  border-bottom-width: 1px;
  padding: 2px 0;
  margin-bottom: 4px;
}

.capitalize {
  text-transform: uppercase;
}

.capitalize:first-letter,
.capitalize:first-letter {
  font-size: 140%;
}

h3 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0px;
  letter-spacing: 0.3px;
}

.nobold{
  font-weight: normal;
}

ul {
  margin: 0px;
  -webkit-padding-start: 20px;
  -moz-padding-start: 20px;
  -o-padding-start: 20px;
}

li {
  margin-left: 0px;
}

a:visited {
  color: blue;
}

.entry {
  font-weight: bold;
  letter-spacing: 0.3px;
}

.section {
  margin: 0.5em 8px 1em;
  clear: both;
}

.section > h3:first-child{
  margin-top: 0px;
}

.columns {
  width: 100%;
  position: relative;
}
.columns > *:nth-child(1) {
  float: left;
  left: 4px;
  top: 0;
}
.columns > *:nth-child(2) {
  float: right;
  right: 4px;
  text-align: right;
  top: 0;
}
.columns > *:nth-child(3) {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}

.columns::after { 
  content: "."; /* to make up for that position: absolute */
  visibility: hidden;
  position: relative;
  clear: both;
  left: 0
  top: 0
}

.clear {
  clear: both;
}
